---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <header>
    <img src="" alt="" />
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
    <img src="" alt="" />
    <button></button>
  </header>
  <main>
    <img src="" alt="" />
    <h1></h1>
    <section class="welcome_section">
      <h2></h2>
      <h3></h3>
      <p></p>
      <button></button>
      <img src="" alt="" />
    </section>
    <section class="activities_cards">
      <h2></h2>
      <!-- <article><Card billede="" overskrift="" detail="" /></article> -->
    </section>
    <section class="volunteers">
      <h2></h2>
      <article>
        <!-- <Card billede="" navn="" alder="" citat="" /> -->
      </article>
    </section>
    <section class="formular">
      <div class="formular">
        <div class="billede"></div>
        <div>
          <article>
            <!-- INDHOLD -->
          </article>
        </div>
        <div class="billede"></div>
      </div>
    </section>
    <section class="faq">
      <h2></h2>
      <div></div>
    </section>
  </main>
  <!-- <footer/>
   </Layout
>
--></Layout
>
